@page "/product"
@rendermode InteractiveServer

@inject ProductApiClient ProductApi
@inject OrderApiClient OrderApi

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<p>This component demonstrates showing data loaded from a Product API service.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in products.Select((product, index) => new { product, index }))
            {
                <tr>
                    <td>@(item.index + 1)</td>
                    <td>@item.product.ProductName</td>
                    <td>@item.product.ProductDescription</td>
                    <td>@item.product.ProductPrice</td>
                    <td>@item.product.ProductQuantity</td>
                    <td>@item.product.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="PlaceOrder">Place Order</button>
}

@code {
    private GetProductDto[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductApi.GetProductsAsync();
    }

    async Task PlaceOrder()
    {
        var customerId = new Guid("03dab4f9-2e7d-4fa3-be98-7d7c2ef397c0");
        var random = new Random();
        var fourRandomOrders = products!
            .OrderBy(x => random.Next())
            .Take(4)
            .Select(d => new CreateOrderItemDto(d.ProductId, random.Next(1,5)));
        
        var request = new CreateOrderDto(customerId, fourRandomOrders);

        await OrderApi.CreateOrderAsync(request);
    }
}
